#####################################################
#
# List of approvers for OpenProtobuf .github repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

*  @open-protobuf/technical-committee